body{
  margin:0;
}

header{
  background-color: 	#008080	;
}

header .nomeProgetto{
  color:white;
  margin:0;
  padding: 20px;
}

section .divHero {
  background-color:	#add8e6;
  height: 150px;
  padding: 50px;
}

#Immagine1 {
  widht: 35px;
  height: 50px;
}

#Immagine2 {
  widht:40px;
  height:50px;
}

 .Contenuto{
 padding: 50px;
}

.Contenuto{
  border: dotted;
  display: inline-block;
  padding:50px;
  vertical-align: top;
}

.Immagine3{
  width:220px;
  height:260px;
}

.Immagine7{
  width:50px;
  height:20px;
}

section  .divFoot{
  color:#000000;
  background-color: white;
  font-size: 80%;
  margin-left: 5%;
  margin-bottom: 60px;
}

#divCookie{
  background-color:#008080;
  margin:0;
  color:white;
  bottom:0;
  vertical-align: middle;
  position:fixed;
  width: 100%;
}

#cookie{
  color:blue;
  text-decoration: underline;
}


.like-span {
  background-color: rgb(255, 255, 255);
  width: 70px;
  height:60px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}
