body{
  margin:0;
}

header{
  background-color: 	#008080	;
}

header .nomeProgetto{
  color:white;
  margin:0;
  padding: 20px;
}

 .divHero {
  background-color:	#add8e6;
  height: 150px;
  padding: 50px;
}

#Immagine1 {
  widht: 35px;
  height: 50px;
}

#Immagine2 {
  widht:40px;
  height:50px;
}

.section {
  margin-left: 3%;
  margin-right: 3%;
}

.Contenuto{
width: 27%;
display: inline-block;
padding: 25px;
vertical-align: top;
min-width: 300px;
}

.Immagine3{
  width:100%;
  height:260px;
}

.Immagine7{
  width:50px;
  height:20px;
}

.like-span {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  user-select: none;
}

section  .divFoot{
  color:#000000;
  background-color: white;
  font-size: 80%;
  margin-left: 5%;
  margin-bottom: 60px;
}

#divCookie{
  background-color:#008080;
  margin:0;
  color:white;
  bottom:0;
  vertical-align: middle;
  position:fixed;
  width: 100%;
  padding: 13px;
}

#cookie{
  color:blue;
  text-decoration: underline;
}
